#profile-container {
    padding-top: 2em;
}

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrait {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    background: #00000010;
}

#profile .portrait-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 250;
    color: rgba(0, 0, 0, 0.54);
    margin: 0px 0 10px 0;
}

#profile ul.network-icon {
    margin-top: 10px;
}

#profile ul.network-icon>li {
    padding: 5px;
}

.no-border-li>li {
    border: 0;
}

ul.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.big-icon {
    font-size: 2rem;
}

.big-icon.mail {
    font-size: 1.9rem;
    padding-right: 3px;
}

li.nav-item {
    min-width: 85px;
}

.publication-list {
    padding-top: 25px;
}

.project-list {
    padding-top: 25px;
}