<% title = 'Home' %>

<div class="row">
    <div class="profile col-md-4 mt-5">
        <img class="portrait" src="/static/public/img/profile.png" itemprop="image" alt="Avatar">
        <%- include('_social'); -%>
    </div>
    <div class="col mt-5">
        <h1 class="display-4">Yasas Senarath</h1>
        <p class="lead">
            Yasas is a graduate student at <a href="https://www2.gmu.edu/">George Mason University</a>.
            He is a member of the <a href="https://ist.gmu.edu/~hpurohit/informatics-lab.html">Humanitarian, Semantics &
                Informatics Lab (Human-Info-Lab)</a>. Prof. Hemant Purohit, the head of Human-Info-Lab
            advices Yasas on his research. He completed B.Sc in Computer Science and Engineering at the <a
                href="https://www.mrt.ac.lk/web/">University of Moratuwa</a> in 2018.
        </p>
        <p class="lead">
            His research interests lie in the area of Natural Language Processing and Artificial Intelligence. In his
            current
            research, he is aiming to provide solutions to problems in Natural and Societal Crises by analyzing social
            media
            content.
        </p>
    </div>
</div>