@import "../mixin/gradient-mixin.scss";

.btn {
  background: $btn-background;
  color: $btn-color;
  padding: 10px;
}

.btn.btn-gradient {
  @include border-gradient(skyblue, hotpink);
  border: 0;
  border-radius: 10px;
}
