.gradient-ghost-btn.live {
  -webkit-animation: gradient-ghost-btn-animation 3s ease infinite;
  -moz-animation: gradient-ghost-btn-animation 3s ease infinite;
  animation: gradient-ghost-btn-animation 3s ease infinite;
}

.gradient-ghost-btn,
.gradient-ghost-btn-lg {
  background: none;
  border: none;
  border-radius: 2px;
  padding: 2px;
  text-decoration: none !important;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  border-left: 2px solid #f17c35;
  border-right: 2px solid #e2336e;
  display: inline-block;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-size: 200% 2px;
  background-image: -webkit-linear-gradient(left, #f17c35 0%, #e2336e 50%, #f17c35 100%),
    -webkit-linear-gradient(left, #f17c35 0%, #e2336e 50%, #f17c35 100%);
  background-image: linear-gradient(to right, #f17c35 0%, #e2336e 50%, #f17c35 100%),
    linear-gradient(to right, #f17c35 0%, #e2336e 50%, #f17c35 100%);
  transition: background-position 0.7s ease-in-out, border-color 0.7s ease-in-out;
  -moz-transition: background-position 0.7s ease-in-out, border-color 0.7s ease-in-out;
  -ms-transition: background-position 0.7s ease-in-out, border-color 0.7s ease-in-out;
  -o-transition: background-position 0.7s ease-in-out, border-color 0.7s ease-in-out;
  -webkit-transition: background-position 0.7s ease-in-out, border-color 0.7s ease-in-out;
}
