@import "button.scss";

body.theme-dark {
  background: $background-color;
}

.site-header {
  position: sticky;
  border-top: 0;
  background: $background-color;
  border-bottom-color: $foreground-color;
  top: 0;
}

.site-footer {
  position: sticky;
  background: $background-color;
  border-top-color: $foreground-color !important;
  bottom: 0;
}

.site-nav .page-link {
  border-radius: 5%;
  padding: 5px 10px;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

.home {
  @extend .flex-column;
  align-items: center;
}

.home > .profile {
  @extend .flex-column;
  align-items: center;
}

.home > .profile > .portrait {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  background: #00000010;
}

.flex-row > div {
  padding-right: 15px;
  min-width: 135px;
}

.flex-row > div:last-child {
  padding-right: 0;
}
