{% macro timeline(events) -%}
    <ul class="timeline">
        {% for event in events %}
            <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                    <p class="timeline-event-thumbnail">{{ event.time }} - {{ event.location }}</p>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}