<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0)">y.senarath</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if active_page == 'home' %}active{% endif %}" href="index.html">Home
                    {% if active_page == 'home' %}<span class="sr-only">(current)</span>{% endif %}</a>
                <a class="nav-item nav-link {% if active_page == 'timeline' %}active{% endif %}" href="timeline.html">Timeline
                    {% if active_page == 'timeline' %}<span class="sr-only">(current)</span>{% endif %}</a>
                <a class="nav-item nav-link {% if active_page == 'projects' %}active{% endif %}" href="projects.html">Projects
                    {% if active_page == 'projects' %}<span class="sr-only">(current)</span>{% endif %}</a>
                <a class="nav-item nav-link {% if active_page == 'research' %}active{% endif %}" href="research.html">Research
                    {% if active_page == 'research' %}<span class="sr-only">(current)</span>{% endif %}</a>
                <!-- <a class="nav-item nav-link" target="_blank" href="https://cloverlearn.com"><i
                        class="fas fa-external-link-alt"></i> Blog </a> -->
            </div>
        </div>
    </div>
</nav>