{% extends "base.html" %}

{% set active_page = 'home' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <div class="text-center">
                        <img class="avatar rounded-circle w-50 m-3" src="assets/media/profile.jpg" alt="Yasas Senarath">
                    </div>
                    <div class="portrait-title">
                        <p class="h1 text-center">Yasas Senarath</p>
                        <p class="text-muted text-center">Researcher · Doctoral Student · AI for Social Good</p>
                        <p class="h6 text-center">
                            <a class="nav-link" href="https://www.gmu.edu/" target="_blank" rel="noopener">
                                <span>George Mason University</span>
                            </a>
                        </p>
                    </div>
                    <ul class="network-icon nav justify-content-center" aria-hidden="true">
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:ysenarath.93@gmail.com">
                                <i class="fas fa-envelope big-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/wayasas" target="_blank" rel="noopener">
                                <i class="fab fa-twitter big-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://scholar.google.com/citations?authuser=1&user=jAhpeigAAAAJ"
                               target="_blank" rel="noopener">
                                <i class="fas fa-graduation-cap big-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/ysenarath" target="_blank" rel="noopener">
                                <i class="fab fa-github big-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/ypsenarath/" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin big-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <h1>Biography</h1>
                <p>{{ bio }}</p>
                <p>
                    <i class="fas fa-download  pr-1 fa-fw"></i>
                    Download my <a href="assets/media/resume.pdf" target="_blank">resumé</a>.
                </p>
                <div class="row">
                    <div class="col-md-5">
                        <h3>Interests</h3>
                        <ul class="fa-ul">
                            {% for item in interests %}
                                <li>
                                    <i class="fa-li fas fa-lightbulb"></i>
                                    <p>{{ item }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <h3>Education</h3>
                        <ul class="fa-ul">
                            {% for item in education %}
                                <li>
                                    <i class="fa-li fas fa-graduation-cap"></i>
                                    <p>{{ item.course }} <span class="text-muted">{{ item.institution }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}