{% extends "base.html" %}

{% set active_page = 'projects' %}

{% block body %}
<div class="container">
    <div class="pt-3">
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Hate Speech Identification</h5>
                <p class="card-text">The goal of this research project is to identify and improve techniques on
                    detecting
                    hate speech in social media text such as tweets. There has been lot of work around this subject and
                    we
                    try to improve on the existing ideas.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Aspect Extraction from Consumer Reviews</h5>
                <p class="card-text">A research project related to Aspect Based Sentiment Analysis (ABSA). Our goal was
                    to
                    explore novel techniques with deep learning and machine learning to detect aspects from customer
                    reviews.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Tank Game</h5>
                <p class="card-text">Project of the programming challenge II module, semester 4. Designed an intelligent
                    game client that played against other bots through a game server. Programmed using C# and Mono game
                    framework.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Affect Level Opinion Mining of Twitter Streams</h5>
                <p class="card-text">In this research our goal was to identify the emotions expressed by people on
                    social
                    media such as Twitter.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">DengAI: Predicting Disease Spreadm</h5>
                <p class="card-text">Competition (ended on December 2017) where the challenge is to predict the number
                    of
                    dengue cases each week (in San Juan, Puerto Rico and Iquitos, Peru) based on environmental variables
                    describing changes in temperature, precipitation, vegetation, and more. Data mining and machine
                    learning
                    knowledge was applied in the development of the prediction model. Currently ranked as first out of
                    1831
                    participants.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">EMOSYS: Environmental Monitoring System</h5>
                <p class="card-text">Simulated Environmental monitoring system for Colombo District. Group project of
                    four
                    members completed the application with comprehensive database documentation. Used technologies -
                    PHP,
                    MySQL, Symfony Framework.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Information Management System for Panadura Cooperative Socity</h5>
                <p class="card-text">Cooperative Society supermarkets (Co-op City) required an information management
                    system
                    to manage their sales and inventory. We developed a solution based on the requirement of Panadura
                    Mega
                    Co-op city, using Java which contains of subsystems; inventory management system, point of sales
                    system,
                    ledger management system and a customer management system. We followed Rational Unified Process
                    (RUP) as
                    the development process and carried out all the phases by ourselves. This project was carried out as
                    the
                    semester project of Object Oriented Software Development module in third semester at the university.
                    The
                    project won the best project title from 25 project presented at the end of the module.</p>
            </div>
        </div>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Eficiente</h5>
                <p class="card-text">An Arduino based project to design an automation system to conserve electrical
                    energy
                    and to remote control electrical appliances like bulbs and fans. The system detects absence of
                    people in
                    room and automatically shuts down power to electrical devices connected. The sensors automatically
                    detect entrance of people to room and light up bulbs depending on the time of the day. In order
                    enhance
                    the capabilities of the system an Android based application was developed to control connected
                    appliances manually via a Bluetooth enabled Android smartphone. Developed as semester project for
                    semester 2, CS 1962: Engineering Skill Development module. Received an ‘A’ grade at final project
                    evaluation.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}