{% extends "base.html" %}

{% set active_page = 'projects' %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-left flex-wrap">
                {% for project in projects %}
                    <div class="p-3 m-1 shadow-sm bg-white rounded" style="max-width: 350px">
                        {% if project.type == 'research' %}
                            <strong class="d-inline-block mb-2 text-success">Research</strong>
                        {% else %}
                            <strong class="d-inline-block mb-2 text-danger">Project</strong>
                        {% endif %}
                        <h4 class="mb-2" style="min-height: 2em">{{ project.title }}</h4>
                        <div class="mb-1 text-muted">{{ project.year }}</div>
                        <p class="mb-auto overflow-hidden text-justify text-muted"
                           style="max-height: 10em;">{{ project.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}