<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Yasas's Personal Website">
    <meta name="author" content="Yasas Senarath">
    <link rel="icon" href="assets/favicons/favicon.ico">
    <title>Yasas Senarath</title>
    <link rel="stylesheet" href="packages/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="packages/fontawesome/css/all.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/base.css">
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "person",
            "name": "Yasas Senarath",
            "jobTitle": "Researcher",
            "gender": "male",
            "url": "https://www.ysenarath.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "10418 Darby St",
                "addressLocality": "Fairfax",
                "addressRegion": "VA",
                "postalCode": "22030",
                "addressCountry": "USA"
            },
            "email": "ysenarath.93@gmail.com",
            "alumniOf": "University of Moratuwa, Sri Lanka",
            "birthPlace": "Colombo",
            "nationality": "Sri Lankan"
        }
    </script>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container navbar-container">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">y.senarath</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <a class="navbar-item " href="index.html">
                    Home
                </a>
                <a class="navbar-item " href="projects.html">
                    Projects
                </a>
                <a class="navbar-item " href="research.html">
                    Research
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    
</div>
<footer class="footer px-1 py-6 mt-3">
    <div class="content has-text-centered">
        <p class="pb-1">Yasas Senarath</p>
        <div>


<div>
    <a class="nav-link p-1" href="mailto:ysenarath.93@gmail.com">
        <span class="icon">
            <i class="fas fa-envelope fa-lg"></i>
        </span>
    </a>
    <a class="nav-link p-1" href="https://twitter.com/wayasas" target="_blank" rel="noopener">
        <span class="icon">
            <i class="fab fa-twitter fa-lg"></i>
        </span>
    </a>
    <a class="nav-link p-1"
       href="https://scholar.google.com/citations?authuser=1&user=jAhpeigAAAAJ"
       target="_blank" rel="noopener">
        <span class="icon">
            <i class="fas fa-graduation-cap fa-lg"></i>
        </span>
    </a>
    <a class="nav-link p-1" href="https://github.com/ysenarath" target="_blank" rel="noopener">
        <span class="icon">
            <i class="fab fa-github fa-lg"></i>
        </span>
    </a>
    <a class="nav-link p-1" href="https://www.linkedin.com/in/ypsenarath/" target="_blank"
       rel="noopener">
        <span class="icon">
            <i class="fab fa-linkedin fa-lg"></i>
        </span>
    </a>
</div>


</div>
    </div>
</footer>
<script src="assets/js/navbar.js"></script>
</body>
</html>