html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    max-width: 960px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.app {
    height: 100%;
}

.page-container {
    padding: 70px 15px 0 15px;
    margin-bottom: 45px;
}