<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.year }} {{ item.conference }}</p>
        <p>{{ item.authors | safe }}</p>
        <div id="article_{{ loop.index }}" tabindex="-1" role="dialog"
             class="modal fade bd-example-modal-lg">
            <div role="document" class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ item.title }}</h5>
                        <button type="button"
                                data-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ item.description }}</p>
                    </div>
                    {% if item.link is defined %}
                        <div class="modal-footer">
                            <a href="{{ item.link }}" role="button" class="btn btn-primary">Link</a>
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">
                                Close
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#article_{{ loop.index }}"
                class="btn btn-light">
            Abstract
        </button>
    </div>
</div>
