<nav class="navbar navbar-expand-lg" role="navigation" aria-label="main navigation">
    <div class="container">
        <a class="navbar-brand" href="index.html">y.senarath</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
            aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <!-- Add items to the left if needed -->
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'projects' %}active{% endif %}"
                        href="projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'research' %}active{% endif %}"
                        href="research.html">Research</a>
                </li>
                <!-- data-bs-theme="dark" -->
                <!-- button -->
                <li class="nav-item">
                    <a id="theme-toggle" class="nav-link" aria-label="Toggle dark mode">
                        <i id="theme-icon" class="fas fa-moon" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>