<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container navbar-container">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">y.senarath</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <a class="navbar-item {% if active_page == 'home' %}is-active{% endif %}" href="index.html">
                    Home
                </a>
                <a class="navbar-item {% if active_page == 'projects' %}is-active{% endif %}" href="projects.html">
                    Projects
                </a>
                <a class="navbar-item {% if active_page == 'research' %}is-active{% endif %}" href="research.html">
                    Research
                </a>
            </div>
        </div>
    </div>
</nav>