{% extends "layouts/default.html" %}

{% set active_page = 'projects' %}

{% block body %}
{% for featured in [True, False] %}
<section class="py-3">
    <h2 class="h5">{% if featured %}Featured{% else %}Other Projects{% endif %}</h2>
    <div class="d-flex flex-wrap gap-3">
        {% for project in projects %}
        {% if project.featured == featured %}
        {% if project.link is defined %}
        <a href="{{ project.link }}" target="_blank" class="text-decoration-none">
            {% endif %}
            <div class="card {% if project.link is defined %}shadow-sm{% endif %}"
                style="max-width: 18rem; height: 15rem; margin-bottom: 1.5rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{% if project.type == 'research' %}Research{% else
                        %}Product{% endif %} - {{ project.year }}</h6>
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
            </div>
            {% endif %}
            {% if project.link is defined %}
        </a>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endfor %}
{% endblock %}