---
layout: default
---

<div class="home">
    <div class="profile">
        <img class="portrait" src="/static/img/profile.png" itemprop="image" alt="Avatar">
        <div class="title">
            <h2>{{ page.profile.name }}</h2>
        </div>
        <div class="description">
            <h3>{{ page.profile.description }}</h3>
        </div>
        <div class="flex-row">
            <div class="flex-column">
                <div>
                    <p>Interests</p>
                </div>
                <ui>
                    {% for item in page.profile.technologies %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ui>
            </div>
            <div class="flex-column">
                <div>
                    <p>Skills</p>
                </div>
                <ui>
                    {% for item in page.profile.languages %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ui>
            </div>
        </div>
    </div>
</div>